<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./src/style.css">
  <title>NDR0N</title>
  <meta charset="UTF-8">
  <meta name="author" content="Afonso Proenca">
  <meta name="keywords" content="NDR0N">
  <meta name="description" content="NDR0N Official Website">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
</head>

<body style="padding:0px;margin:0px">
  <div id="app" style="width:100vw;height:100vh;">
    <table>
      <tr>
        <template v-if="currentPage==1"><td v-on:click="setPage(0)" style="background-color:white;color:black;">&nbsp Audio </td></template>
        <template v-else><td v-on:click="setPage(1)">&nbsp Audio</td></template>
        <template v-if="currentPage==2"><td v-on:click="setPage(0)" style="background-color:white;color:black;">&nbsp Video </td></template>
        <template v-else><td v-on:click="setPage(2)">&nbsp Video</td></template>
        <template v-if="currentPage==3"><td v-on:click="setPage(0)" style="background-color:white;color:black;">&nbsp Live </td></template>
        <template v-else><td v-on:click="setPage(3)">&nbsp Live</td></template>
        <template v-if="currentPage==4"><td v-on:click="setPage(0)" style="background-color:white;color:black;">&nbsp Contact </td></template>
        <template v-else><td v-on:click="setPage(4)">&nbsp Contact</td></template>
      </tr>
    </table>

    <template v-if="panOpen==true">
      <div :style="{height:panHeight+'vh'}" style="border-bottom:1px solid white;">
        <template v-if="currentPage==1">
          <iframe src="./src/Audio.html" height="100%" width="100%" style="border:0px;">
          <!-- <a href="https://tt-ndr0n.bandcamp.com/album/black-ep"><img src="./assets/Black.jpg" style="margin:2vw;height:20vh;"></img></a> -->
          <!-- <br> -->
          <!-- <a href="https://tt-ndr0n.bandcamp.com/album/white-2 "><img src="./assets/White.jpg" style="margin:2vw;height:20vh;"></img></a> -->
          </iframe>
        </template>
      </div>
    </template>

    <iframe src="https://editor.p5js.org/afonsoproenca/embed/airhX6h8M" scrolling="no" width="100%" frameborder="0"
      style="overflow:hidden;" :style="{height:aniHeight+'vh'}"></iframe>
    </span>

  </div>
  <script src="./src/main.js"></script>
</body>

</html>